<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Articles</title>
  </head>
  <body>
  <%  articles.forEach(function(article) { %>
      <h1><%=article.title%></h1>
      <p>
        <%=article.content%>
      </p>
  <%  }); %>
  </body>
</html>
